@import "ui";
@import "vars";
@import "fonts";
@import "flags";
@import '~@mdi/font/css/materialdesignicons.css';

html {
  font-size: var(--ui-root-font-size);
}

textarea,
button,
select,
input,
body,
span,
p {
  font-size: var(--ui-font-size);
}
