$ui-flag-height: 20px;
$ui-flag-width: 27px;

$flags: (
  'la': 0 0,
  'ad': -27px 0,
  'af': 0 -20px,
  'ag': -27px -20px,
  'ai': -54px 0,
  'al': -54px -20px,
  'am': 0 -40px,
  'ao': -27px -40px,
  'ar': -54px -40px,
  'as': 0 -60px,
  'at': -27px -60px,
  'au': -54px -60px,
  'aw': -81px 0,
  'ax': -81px -20px,
  'az': -81px -40px,
  'ba': -81px -60px,
  'bb': 0 -80px,
  'bd': -27px -80px,
  'be': -54px -80px,
  'bf': -81px -80px,
  'bg': -108px 0,
  'bh': -108px -20px,
  'bi': -108px -40px,
  'bj': -108px -60px,
  'bl': -108px -80px,
  'bm': 0 -100px,
  'bn': -27px -100px,
  'bo': -54px -100px,
  'bq': -81px -100px,
  'br': -108px -100px,
  'bs': -135px 0,
  'bt': -135px -20px,
  'bw': -135px -40px,
  'by': -135px -60px,
  'bz': -135px -80px,
  'ca': -135px -100px,
  'cc': 0 -120px,
  'cd': -27px -120px,
  'cf': -54px -120px,
  'cg': -81px -120px,
  'ch': -108px -120px,
  'ci': -135px -120px,
  'ck': 0 -140px,
  'cl': -27px -140px,
  'cm': -54px -140px,
  'cn': -81px -140px,
  'co': -108px -140px,
  'cr': -135px -140px,
  'cu': -162px 0,
  'cv': -162px -20px,
  'cw': -162px -40px,
  'cx': -162px -60px,
  'cy': -162px -80px,
  'cz': -162px -100px,
  'de': -162px -120px,
  'dj': -162px -140px,
  'dk': 0 -160px,
  'dm': -27px -160px,
  'do': -54px -160px,
  'dz': -81px -160px,
  'ec': -108px -160px,
  'ee': -135px -160px,
  'eg': -162px -160px,
  'eh': -189px 0,
  'er': -189px -20px,
  'es': -189px -40px,
  'et': -189px -60px,
  'eu': -189px -80px,
  'fi': -189px -100px,
  'fj': -189px -120px,
  'fk': -189px -140px,
  'fm': -189px -160px,
  'fo': 0 -180px,
  'fr': -27px -180px,
  'ga': -54px -180px,
  'gb': -81px -180px,
  'gd': -108px -180px,
  'ge': -135px -180px,
  'gf': -162px -180px,
  'gg': -189px -180px,
  'gh': -216px 0,
  'gi': -216px -20px,
  'gl': -216px -40px,
  'gm': -216px -60px,
  'gn': -216px -80px,
  'gp': -216px -100px,
  'gq': -216px -120px,
  'gr': -216px -140px,
  'gt': -216px -160px,
  'gu': -216px -180px,
  'gw': 0 -200px,
  'gy': -27px -200px,
  'hk': -54px -200px,
  'hn': -81px -200px,
  'hr': -108px -200px,
  'ht': -135px -200px,
  'hu': -162px -200px,
  'id': -189px -200px,
  'ie': -216px -200px,
  'il': 0 -220px,
  'im': -27px -220px,
  'in': -54px -220px,
  'io': -81px -220px,
  'iq': -108px -220px,
  'ir': -135px -220px,
  'is': -162px -220px,
  'it': -189px -220px,
  'je': -216px -220px,
  'jm': -243px 0,
  'jo': -243px -20px,
  'jp': -243px -40px,
  'ke': -243px -60px,
  'kg': -243px -80px,
  'kh': -243px -100px,
  'ki': -243px -120px,
  'km': -243px -140px,
  'kn': -243px -160px,
  'kp': -243px -180px,
  'kr': -243px -200px,
  'kw': -243px -220px,
  'ky': 0 -240px,
  'kz': -27px -240px,
  'ae': -54px -240px,
  'lb': -81px -240px,
  'lc': -108px -240px,
  'li': -135px -240px,
  'lk': -162px -240px,
  'lr': -189px -240px,
  'ls': -216px -240px,
  'lt': -243px -240px,
  'lu': -270px 0,
  'lv': -270px -20px,
  'ly': -270px -40px,
  'ma': -270px -60px,
  'mc': -270px -80px,
  'md': -270px -100px,
  'me': -270px -120px,
  'mf': -270px -140px,
  'mg': -270px -160px,
  'mh': -270px -180px,
  'mk': -270px -200px,
  'ml': -270px -220px,
  'mm': -270px -240px,
  'mn': 0 -260px,
  'mo': -27px -260px,
  'mp': -54px -260px,
  'mq': -81px -260px,
  'mr': -108px -260px,
  'ms': -135px -260px,
  'mt': -162px -260px,
  'mu': -189px -260px,
  'mv': -216px -260px,
  'mw': -243px -260px,
  'mx': -270px -260px,
  'my': -297px 0,
  'mz': -297px -20px,
  'na': -297px -40px,
  'nc': -297px -60px,
  'ne': -297px -80px,
  'nf': -297px -100px,
  'ng': -297px -120px,
  'ni': -297px -140px,
  'nl': -297px -160px,
  'no': -297px -180px,
  'np': -297px -200px,
  'nr': -297px -220px,
  'nu': -297px -240px,
  'nz': -297px -260px,
  'om': 0 -280px,
  'pa': -27px -280px,
  'pe': -54px -280px,
  'pf': -81px -280px,
  'pg': -108px -280px,
  'ph': -135px -280px,
  'pk': -162px -280px,
  'pl': -189px -280px,
  'pm': -216px -280px,
  'pr': -243px -280px,
  'ps': -270px -280px,
  'pt': -297px -280px,
  'pw': 0 -300px,
  'py': -27px -300px,
  'qa': -54px -300px,
  're': -81px -300px,
  'ro': -108px -300px,
  'rs': -135px -300px,
  'ru': -162px -300px,
  'rw': -189px -300px,
  'sa': -216px -300px,
  'sb': -243px -300px,
  'sc': -270px -300px,
  'sd': -297px -300px,
  'se': -324px 0,
  'sg': -324px -20px,
  'sh': -324px -40px,
  'si': -324px -60px,
  'sj': -324px -80px,
  'sk': -324px -100px,
  'sl': -324px -120px,
  'sm': -324px -140px,
  'sn': -324px -160px,
  'so': -324px -180px,
  'sr': -324px -200px,
  'ss': -324px -220px,
  'st': -324px -240px,
  'sv': -324px -260px,
  'sx': -324px -280px,
  'sy': -324px -300px,
  'sz': 0 -320px,
  'tc': -27px -320px,
  'td': -54px -320px,
  'tg': -81px -320px,
  'th': -108px -320px,
  'tj': -135px -320px,
  'tk': -162px -320px,
  'tl': -189px -320px,
  'tm': -216px -320px,
  'tn': -243px -320px,
  'to': -270px -320px,
  'tr': -297px -320px,
  'tt': -324px -320px,
  'tv': -351px 0,
  'tw': -351px -20px,
  'tz': -351px -40px,
  'ua': -351px -60px,
  'ug': -351px -80px,
  'us': -351px -100px,
  'uy': -351px -120px,
  'uz': -351px -140px,
  'va': -351px -160px,
  'vc': -351px -180px,
  've': -351px -200px,
  'vg': -351px -220px,
  'vi': -351px -240px,
  'vn': -351px -260px,
  'vu': -351px -280px,
  'wf': -351px -300px,
  'ws': -351px -320px,
  'xk': 0 -340px,
  'ye': -27px -340px,
  'yt': -54px -340px,
  'za': -81px -340px,
  'zm': -108px -340px,
  'zw': -135px -340px,
);
