@import "vars";
@import "funcs";
@import "media";

@mixin ui-base($display: block) {
  display: $display;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  outline: none;
  font-family: inherit;

  // todo: make mixin from it
  transition: all ease-out 300ms;
}

@mixin ui-can-fill() {
  &[fill="solid"] {
    &[look="primary"] {
      color: var(--ui-col-primary-contrast);
      background: var(--ui-col-primary);
    }

    &[look="secondary"] {
      color: var(--ui-col-secondary-contrast);
      background: var(--ui-col-secondary);
    }
  }

  &[fill="none"] {
    background: transparent;
    border-width: 0;

    &[look="primary"] {
      color: var(--ui-col-primary);
    }

    &[look="secondary"] {
      color: var(--ui-col-secondary);
    }
  }
}

@mixin ui-can-disabled() {
  &[is-disabled],
  &[is-disabled]:hover {
    cursor: not-allowed;

    &[fill="none"] {
      color: var(--ui-col-disabled) !important;
    }

    &[fill="solid"] {
      color: var(--ui-col-disabled) !important;
      background: var(--ui-col-disabled-lighten) !important;
      box-shadow: none !important;
      border-color: var(--ui-col-disabled) !important;
      border-style: dashed !important;
    }
  }
}

@mixin ui-can-click() {
  transition: all linear 300ms;

  &:not([is-disabled]) {
    &:hover,
    &:focus {
      transition: all linear 80ms;
    }

    &:active {
      transform: translateY(0.1em);
    }
  }
}

@mixin ui-wrap-soft($display: block) {
  //@include respond-font-size(var(--ui-font-size));

  font-family: var(--ui-font-family);
  display: $display;
}

@mixin ui-wrap($display: block) {
  @include ui-wrap-soft($display);

  box-sizing: border-box;
  position: relative;
  line-height: var(--ui-line-height);
}


@mixin ui-can-text() {
  //@include respond-font-size($layout-ui-font-size);

  font-family: inherit;
  color: var(--ui-col-text);

  &::placeholder {
    font-family: inherit;
    color: var(--ui-col-placeholder);
  }
}

@mixin ui-can-error() {
  &[is-error],
  &[is-error]:hover {
    &[fill="none"] {
      color: var(--ui-col-error);
    }

    &[fill="solid"] {
      color: var(--ui-col-error) !important;
      border-color: var(--ui-col-error) !important;
    }
  }
}

@mixin reset-number-appearance {
  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield; /* stylelint-disabled-line */
    margin: 0;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

@mixin scrollbar-awesome($transparent: false) {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    @if ($transparent) {
      background-color: transparent;
    }

    background-color: var(--ui-col-light);
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ui-col-dark);
  }
}
