:root {
  --ui-root-font-size: 10px;

  /**
 * Basic font used for all components
 */
  --ui-font-family: 'SourceCodePro', monospaced, 'Arial', sans-serif;
  --ui-font-size: 1.6rem;
  --ui-line-height: 2.5em;

  /**
  * Basic border properties for inputs/buttons etc.
  */
  --ui-border-radius: 0.5rem;
  --ui-border-width: 0.01rem;
  --ui-box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.15);

  /**
   * Low-level palette
   */
  --ui-col-light: #f2f2f2;
  --ui-col-dark: #3a4180;
  --ui-col-bg: #fff;

  /**
   * State colors
   */
  --ui-col-disabled: #ddd;
  --ui-col-disabled-lighten: lighten(#ddd, 10%);

  --ui-col-error: #ef5350;
  --ui-col-warning: #ffa333;
  --ui-col-success: #51ca90;

  /**
   * Text colors
   */
  --ui-col-text: var(--ui-col-dark);
  --ui-col-placeholder: transparentize(#231f20, 0.75);

  /**
   *  Main colors for different look/fill values.
   */
  --ui-col-primary: #3a4180;
  --ui-col-primary-darken: #2a2749;
  --ui-col-secondary: #837fa1;

  --ui-col-primary-contrast: #ffffff;
  --ui-col-secondary-contrast: #ffffff;
}

/**
 * Media Breakpoints list
 */
$ui-media-breakpoints: (
        xs: 600px,
        sm: 1024px,
        md: 1280px,
        lg: 1600px
) !default;


/**
 * Main Content With map
 */
$ui-media-content-width: (
        xs: 100%,
        sm: 90%,
        md: 1200px,
        lg: 1440px
) !default;


/**
 * Font size multipliers
 */
$ui-typo-font-size-multipliers: (
        lg: 1,
        md: 0.85,
        sm: 0.75,
        xs: 1,
) !default;

/**
 * Media Breakpoints list for height
 */
$ui-media-height-breakpoints: (
        xs: 360px,
        sm: 420px,
        md: 600px,
        lg: 900px
) !default;
